<style type="text/css">
    .select2-container {
        z-index: 1000000000;
    }
</style>

<script type="text/javascript">
    function onDataBound(e) {
        ShowOriginalKendoToolTip();
    }

    function UserManager() {
        return {
            InitManagement: function () {
                this.InitHandlers();
                onDataBound();
            },
            InitHandlers: function () {
                const self = this;

                $('.k-grid').on('click', '.btnEdit', function () {
                    let $el = $(this),
                        $tr = $el.closest("tr"),
                        $grid = $el.closest(".k-grid").data("kendoGrid"),
                        dataItem = $grid.dataItem($tr),
                        $modal = $.helper.getJqueryObject($el.data("modal")),
                        $form = $modal.find("form");

                    dataItem.RoleID = dataItem.RoleID ? dataItem.RoleID.toLowerCase() : null;

                    $('.nav-tabs a[href="#tab_user"]').tab('show');
                    $.helper.form.clear($form);
                    $.helper.form.fill($form, dataItem);

                    if (dataItem.RoleID) {
                        const rolesid = dataItem.RoleID.split(',');
                        rolesid.forEach(role => {
                            $('#UserRoleGrid tbody tr td input[type="checkbox"][value="' + role.toLowerCase() + '"]').prop('checked', true);
                        });
                    }

                    $modal.modal("show");
                    $(".form-select2").select2();
                });

                $('.k-grid').on('click', '.btnResetPw', function () {
                    let $el = $(this),
                        $tr = $el.closest("tr"),
                        $grid = $el.closest(".k-grid").data("kendoGrid"),
                        dataItem = $grid.dataItem($tr),
                        $modal = $.helper.getJqueryObject($el.data("modal")),
                        $form = $modal.find("form");

                    $.helper.form.clear($form);
                    $("#IdResetPW").val(dataItem.ID);
                    $modal.modal("show");
                });

                $('.k-grid').on('click', '.btnDelete', function () {
                    const id = $(this).data("id");

                    swal({
                        title: "Confirmation",
                        text: "Are you sure you want to delete this data?",
                        icon: "warning",
                        buttons: ['No', 'Yes'],
                        dangerMode: true
                    }).then(function (isConfirm) {
                        if (isConfirm) {
                            $.postv2("@Url.Content("~/core/user/deleteuser")", { "ID": id }, function () {
                                $.helper.grid.refresh("vendorDBGrid");
                                swal("Info", "Success delete user", "success");
                            }).fail(function (error) {
                                swal("Error", error.responseJSON.Message, "error");
                            });
                        }
                    });
                });

                $("#btnRequestPositive").on('click', function () {
                    const $el = $(this),
                        $modal = $el.closest(".modal"),
                        $form = $modal.find("form");

                    const formData = $.helper.form.serializeObject($form);
                    let errMsg = "";

                    $el.prop("disabled", true);

                    $.postv2("@Url.Content("~/VendorDatabase/DownloadVendorDatabase/AddRequest")", { user: formData }, function (d) {
                        if (d == "") {
                            $.helper.grid.refresh("vendorDBGrid");
                            $modal.modal("hide");
                            swal("Info", "Success update user", "success");
                        } else {
                            swal("Error", d, "error");
                        }
                    }).fail(function () {
                        swal("Error", "Error when requesting Vendor Database", "error");
                    }).always(function () {
                        $el.prop("disabled", false);
                    });
                });

                $('.cball').change(function () {
                    const table = $(this).closest('table');
                    $('td input:checkbox', table).prop('checked', this.checked);
                });

                const grid = $("#vendorDBGrid").data("kendoGrid");

                grid.bind("dataBound", function () {
                    const items = grid.items();
                    let rowNumber = grid.dataSource.page() * grid.dataSource.pageSize() - grid.dataSource.pageSize() + 1;

                    items.each(function () {
                        $(this).find("td:nth-child(1)").html(rowNumber++);
                    });

                    const today = new Date();
                    today.setHours(0, 0, 0, 0);
                    const hasTodayRecord = grid.dataSource.data().some(function (dataItem) {
                        return new Date(dataItem.ReqDate).setHours(0, 0, 0, 0) === today.getTime();
                    });

                    const $btnRequest = $("#btnRequest");
                    if (hasTodayRecord) {
                        $btnRequest.replaceWith('<span class="btn btn-grey" style="border-radius: 8px; font-size: 12px; width: 200px;" disabled>Request</span>');
                    } else {
                        $btnRequest.replaceWith('<a href="#" class="btn btn-success btn-sm" style="border-radius: 8px; font-size: 12px; width: 200px;" id="btnRequest">Request</a>');
                    }
                });

                $(document).on('click', '#btnRequest', function () {
                    const $modal = $.helper.getJqueryObject('RequestModal'),
                        $form = $modal.find("form");

                    $('.nav-tabs a[href="#tab_user"]').tab('show');
                    $.helper.form.clear($form);
                    $modal.modal("show");
                    $(".form-select2").select2();
                });
            }
        };
    }

    $(document).ready(function () {
        const userManager = new UserManager();
        userManager.InitManagement();
    });
</script>
