@section modals {
    @await Html.PartialAsync("~/Areas/Core/Views/Setting/Component/_ConfigForm.cshtml")
    @await Html.PartialAsync("~/Areas/Core/Views/Setting/Component/_EmailTemplateForm.cshtml")
}
@section scripts{
    @await Html.PartialAsync("~/Areas/Core/Views/Setting/Script/_Config.cshtml")
    @await Html.PartialAsync("~/Areas/Core/Views/Setting/Script/_Security.cshtml")
    @await Html.PartialAsync("~/Areas/Core/Views/Setting/Script/_EmailSetting.cshtml")
    @await Html.PartialAsync("~/Areas/Core/Views/Setting/Script/_LDAP.cshtml")
    @await Html.PartialAsync("~/Areas/Core/Views/Setting/Script/_EmailTemplate.cshtml")
}


<div class="portlet light margin-bottom-0">
    <div class="row">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span>Setting</span><small>Show and change application settings</small>
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-md-12">
            <div id="customTab">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#tab_general" data-toggle="tab" aria-expanded="false">Config</a>
                    </li>
                    <li>
                        <a href="#tab_email_templates" data-toggle="tab" aria-expanded="false">Email Templates</a>
                    </li>
                    @*<li>
                        <a href="#tab_security" data-toggle="tab" aria-expanded="false">Security</a>
                    </li>*@
                    <li>
                        <a href="#tab_smtp" data-toggle="tab" aria-expanded="false">Email (SMTP)</a>
                    </li>
                    @*<li>
                        <a href="#tab_ldap" data-toggle="tab">LDAP</a>
                    </li>*@
                </ul>
            </div>
        </div>
    </div>

    <div class="tab-content ">
        <div class="tab-pane active" id="tab_general">
            <div class="row">
                <div class="col-xs-6">
                </div>
            </div>
            <br />
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12" id="configContainerGrid">
                        @await Html.PartialAsync("~/Areas/Core/Views/Setting/Grid/_ConfigGrid.cshtml")
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="tab_email_templates">
            <div class="row">
                <div class="col-xs-6">
                    <div class="page-head">
                        <div class="page-title">
                        </div>
                    </div>
                </div>
                @*<div class="col-xs-6 text-right">
                    <a href="#" class="btn btn-success btn-sm" id="btnAddEmailTemplate">
                        <i class="fa fa-plus"></i>Add
                    </a>
                </div>*@
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12" id="EmailTemplateContainerGrid">
                        @await Html.PartialAsync("~/Areas/Core/Views/Setting/Grid/_EmailTemplateGrid.cshtml")
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="tab_smtp">
            <div class="row">
                <div class="col-xs-6">
                    <div class="page-head">
                        <div class="page-title">
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12" id="tab_smtp">
                        @await Html.PartialAsync("~/Areas/Core/Views/Setting/Component/_EmailSettingForm.cshtml")
                    </div>
                </div>
            </div>
        </div>

        @*<div class="tab-pane" id="tab_security">
            <div class="row">
                <div class="col-xs-6">
                    <div class="page-head">
                        <div class="page-title">
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12" id="tab_security">
                        @await Html.PartialAsync("~/Areas/Core/Views/Setting/Component/_SecurityForm.cshtml")
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="tab_ldap">
            <div class="row">
                <div class="col-xs-6">
                    <div class="page-head">
                        <div class="page-title">
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12" id="tab_ldap">
                        @await Html.PartialAsync("~/Areas/Core/Views/Setting/Component/_LDAPForm.cshtml")
                    </div>
                </div>
            </div>
        </div>*@
    </div>
</div>

<script type="text/javascript">
    function onDataBound(e) {
        ShowKendoToolTip(e);
    }
</script>
