
@section scripts {
    @await Html.PartialAsync("~/Areas/VendorDatabase/Views/VendorDatabase/Script/_VendorDatabase.cshtml")
}

@section modals {
    @await Html.PartialAsync("~/Areas/VendorDatabase/Views/VendorDatabase/Component/_VendorDatabaseForm.cshtml")
}

<div class="portlet light margin-bottom-0">
    <div class="row">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span>Vendor Database</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <br />

   @*  <div class="row">
        <div class="col-md-12">
            <div id="customTab">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#VendorDatabase" data-toggle="tab" aria-expanded="false">Vendor Database</a>
                    </li>
                </ul>
            </div>
        </div>
    </div> *@

    <div class="tab-content ">
        <div class="tab-pane active" id="UserAccess">
            <div class="row">
                <div class="col-xs-6">
                    <div class="page-head">
                        <div class="page-title">
                            <h1>
                            </h1>
                        </div>
                    </div>
                </div>
                @* <div class="col-xs-6 text-right">
                    <a href="#" class="btn btn-success btn-sm" id="btnAddUser">
                        <i class="fa fa-plus"></i>Add
                    </a>
                </div> *@
            </div>

            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12" id="containerGrid">
                        @await Html.PartialAsync("~/Areas/VendorDatabase/Views/VendorDatabase/Grid/_VendorDatabaseGrid.cshtml")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>