.margin-bottom-0 {
    margin-bottom: 0px !important;
}

.ajax-loading {
    display: none;
    position: fixed;
    z-index: 10060;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .8 ) url('../img/ajax-loader.gif') 50% 50% no-repeat;
}

body.loading .ajax-loading {
    overflow: hidden;
}

body.loading .ajax-loading {
    display: block;
}
 
.k-grid-content-locked {
    height: auto !important;
}

.k-grid-content {
    min-height: 50px !important;
}

.custom-checkbox-width {
    width:20px !important;
}
@media (min-width: 1360px) {
    .modal-dialog-xl {
        width: 1280px !important;
        margin: 30px auto !important;
    }
}
@media (min-width: 768px) and (max-width: 1359px) {
    .modal-dialog-xl {
        width: 600px !important;
        margin: 30px auto !important;
    }
}

.card-header-primary {
    background-color: #337ab7 !important;
    color: white !important;
}
.fancybox__container {
    z-index: 1000000 !important;
}

.div-title-menu {
    background-color: #03BFD7;
    padding: 10px;
    margin-bottom: 10px;
}

.div-title-submenu {
    background-color: #03BFD7;
    padding: 5px;
}

.text-title-menu {
    color: white;
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 1000;
    font-size: 2rem;
    font-style: italic;
}

.text-title-submenu {
    color: white;
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 1000;
    font-size: 16px;
    font-style: italic;
}

.custom-button {
    border: 1px solid black;
    border-radius: 8px;
    padding: 4px 8px;
    background-color: #ececec;
    color: black;
    cursor: pointer;
    font-size: 12px;
    font-family: 'SF Pro Display', sans-serif;
}

.custom-button:hover {
    background-color: #b2b2b2;
}

.collapsible {
    background-color: #03BFD7;
    color: white;
    cursor: pointer;
    padding: 14px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 2rem;
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 1000;
    font-style: italic;
    position: relative;
    box-sizing: border-box;
    display: block;
}

    .collapsible .toggle-icon {
        transition: transform 0.3s ease;
        margin: 0;
        padding: 0;
    }

.active .toggle-icon {
    transform: rotate(180deg); 
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    background-color: #f1f1f1;
}

.vendor-registration-form {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    /*background-color: #f7f7f7;*/
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    font-family: 'SF Pro Display', sans-serif;
}

/*h3 {
    background-color: #5C5C5C;
    color: white;
    padding: 10px;
    text-align: left;
    font-family: 'SF Pro Display', sans-serif;
}*/

/*.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}*/

.col {
    flex: 1;
    padding: 0 10px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.input-group {
    display: flex;
    align-items: center;
}

    .input-group label {
        width: 200px;
        font-weight: bold;
        margin-right: 20px;
    }

input[type="text"], select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

    table th, table td {
        border: 1px solid #ddd;
        padding: 10px;
        /*text-align: center;*/
    }

    table th {
        background-color: #f2f2f2;
        font-weight: bold;
    }

input[type="checkbox"], input[type="radio"] {
    margin-right: 10px;
}

button {
    background-color: #03BFD7;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.info-icon {
    position: relative;
    display: inline-block;
    z-index: 10; /* Menambah z-index pada info-icon */
}

.tooltip {
    visibility: hidden;
    width: 200px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 9999; /* Meningkatkan z-index */
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.info-icon:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.info-icon, .tooltip {
    pointer-events: auto;
}

.k-header {
    text-align: center !important;
}

.k-state-selected {
    background-color: #03BFD7 !important;
}

.wrap-text {
    white-space: normal !important;
    word-wrap: break-word !important;
}

.btn-standard-shape {
    border-radius: 8px !important;
    font-size: 12px;
    width: 150px;
}

.k-header{
    text-align: center !important;
}

.header-modal-business {
    background-color: #5C5C5C;
    color: white;
    margin: 15px;
    padding: 15px;
    font-size: 2rem;
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 700;
    text-align: center;
    border-radius: 5px;
}

.sub-header-modal-business1 {
    width: 350px;
    background-color: #5C5C5C;
    color: white;
    padding: 15px;
    font-size: 2rem;
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 700;
    text-align: center;
    border-radius: 5px;
    user-select: none;
}

.sub-header-modal-business2 {
    width: 530px;
    background-color: #5C5C5C;
    color: white;
    padding: 15px;
    font-size: 2rem;
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 700;
    text-align: center;
    border-radius: 5px;
    user-select: none;
}

.content-modal-business1 {
    margin: 0px 15px 0px 15px;
}

.business_classification {
    border-top: thin solid lightgray;
    border-right: thin solid lightgray;
    border-bottom: thin solid lightgray;
    border-left: thin solid lightgray;
    display: inline-block;
    margin: 0 15px 15px 15px;
    border-radius: 10px;
    min-height: 300px;
    padding-bottom: 10px;
}

.business_category {
    border-top: thin solid lightgray;
    border-right: thin solid lightgray;
    border-bottom: thin solid lightgray;
    border-left: thin solid lightgray;
    display: inline-block;
    margin: 0 15px 15px 15px;
    border-radius: 10px;
    min-height: 300px;
    padding-bottom: 10px;
}

.mapping_to {
    border-top: thin solid lightgray;
    border-right: thin solid lightgray;
    border-bottom: thin solid lightgray;
    border-left: thin solid lightgray;
    display: inline-block;
    margin: 0 15px 15px 15px;
    border-radius: 10px;
    min-height: 300px;
    padding-bottom: 10px;
}

.business-container {
    display: flex !important; /* Aligns child elements in a row */
    /*gap: 20px;*/ /* Adds space between the two sections */
}

.input-group {
    display: flex !important;
    align-items: center; /* Aligns items vertically */
    margin-top: 10px; /* Adds some space between input groups */
}

.checkbox-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    grid-column-gap: 55px; /* Space between checkboxes */
    grid-row-gap: 10px;
}

.checkbox-container input {
    margin-right: 8px !important; /* Space between checkbox and text */
    margin-top: 0px !important;
}

.checkbox-business-category {
    width: 20px;
    height: 20px;
}

.checkbox-container label {
    cursor: pointer; /* Change cursor on hover */
    font-size: 17px; /* Font size */
    user-select: none; /* Prevent text selection */
    display: inline-flex; /* Fit width to content while allowing for flexibility */
    align-items: center; /* Center items vertically */
}

#btnAddBusinessCategory {
    margin-bottom: 5px;
    margin-top: 30px;
    background-color: #03BFD7;
}