@* @(Html.Kendo().Grid<TAM.VMS.Domain.UserRoleView>()
                    .Name("UserGrid")
                    .Columns(columns =>
                    {
                        columns.Bound(o => o.ID).Title("Action").Sortable(false).Width(110).HtmlAttributes(new { @class = "text-center", style = "overflow: visible;" }).Filterable(false).ClientTemplate(
                        @"<div class=""btn-group"">
                        <button type=""button"" class=""btn btn-primary blue k-grid-edit btnEdit"" title=""Edit"" data-modal='UserModal'>
                            <i class=""fa fa-edit""></i> </span>
                        </button>
                        <button type=""button"" class=""btn btn-danger red k-grid-delete btnDelete"" title=""Delete"" data-id='#:ID#'>
                            <i class=""fa fa-trash""></i> </span>
                        </button>
                        #if (!IsUserPassport){#
                        <button type=""button"" class=""btn btn-default white k-grid-reset-pw btnResetPw"" title=""Reset Password"" data-modal='ResetPWModal'>
                            <i class=""fa fa-key""></i> </span>
                        </button>#}#
                        </div>"
                        );
                        columns.Bound(o => o.Username).Title("Username").Width(150);
                        columns.Bound(o => o.Name).Title("Name").Width(150);
                        columns.Bound(o => o.Surname).Title("Surname").Width(150);
                        columns.Bound(o => o.Email).Title("Email").Width(150);
                        columns.Bound(o => o.Email).Title("NIP").Width(150);
                        columns.Bound(o => o.Role).Title("Role").Width(150);
                        columns.Bound(o => o.RowStatus).Title("Status").Hidden().Width(150);
                    })
                    .NoRecords(conf => conf.Template("No User list to display"))
                    .Pageable(pageable => pageable.PageSizes(new[] { 5, 10, 20, 100, 200 }).ButtonCount(5))
                    .Filterable(ftb => ftb
                                .Extra(false)
                                .Mode(GridFilterMode.Menu)
                                )
                    .Sortable(sortable => sortable.SortMode(GridSortMode.SingleColumn))
                    .Scrollable(s => s.Height("auto"))
                    .DataSource(dataSource => dataSource
                        .Ajax()
                        .ServerOperation(true)
                        .Read(read => read.Url(Url.Content("~/core/user/read")))
                        .PageSize(10)
                        .Sort(sort => sort.Add("CreatedOn").Descending())
                        .Model(model =>
                        {
                            model.Id(p => p.ID);
                            model.Field(p => p.ID).Editable(false);
                        })
                    )
                ) *@

@(Html.Kendo().Grid<TAM.VMS.Domain.UserRoleView>()
                    .Name("UserGrid")
                    .Columns(columns =>
                    {
                        columns.Template("<span class='row-number'></span>").Title("No").Width(50).HtmlAttributes(new { @class = "text-center" });
                        columns.Bound(o => o.Username).Title("VMS Code").Width(150);
                        columns.Bound(o => o.Name).Title("Vendor Name").Width(150);
                        columns.Bound(o => o.Surname).Title("SAP Trade").Width(150);
                        columns.Bound(o => o.Email).Title("SAP Non Trade").Width(150);
                        columns.Bound(o => o.Email).Title("VMS Trade").Width(150);
                        columns.Bound(o => o.Role).Title("VMS Non Trade").Width(150);
                        columns.Bound(o => o.RowStatus).Title("Compliance Flow").Width(150);
                        columns.Bound(o => o.RowStatus).Title("Transaction Category").Width(150);
                        columns.Bound(o => o.RowStatus).Title("Created Date").Width(150);
                        columns.Bound(o => o.RowStatus).Title("Approval Status").Width(150);
                        columns.Bound(o => o.RowStatus).Title("Modified By").Width(150);
                        columns.Bound(o => o.RowStatus).Title("Modified Date").Width(150);
                        columns.Bound(o => o.ID).Sortable(false).Title("No").Width(110).HtmlAttributes(new { @class = "text-center", style = "overflow: visible;" }).Filterable(false).ClientTemplate(
                        @"<div class=""btn-group"">
                        <button type=""button"" class=""btn btn-primary blue k-grid-edit btnEdit"" title=""Edit"" data-modal='UserModal'>
                            View <i class=""fa fa-search""></i> </span>
                        </button>
                        </div>"
                        );
                    })
                    .NoRecords(conf => conf.Template("No User list to display"))
                    .Pageable(pageable => pageable.PageSizes(new[] { 5, 10, 20, 100, 200 }).ButtonCount(5))
                    .Filterable(ftb => ftb
                                .Extra(false)
                                .Mode(GridFilterMode.Menu)
                                )
                    .Sortable(sortable => sortable.SortMode(GridSortMode.SingleColumn))
                    .Scrollable(s => s.Height("auto"))
                    .DataSource(dataSource => dataSource
                        .Ajax()
                        .ServerOperation(true)
                        .Read(read => read.Url(Url.Content("~/core/user/read")))
                        .PageSize(10)
                        .Sort(sort => sort.Add("CreatedOn").Descending())
                        .Model(model =>
                        {
                            model.Id(p => p.ID);
                            model.Field(p => p.ID).Editable(false);
                        })
                    )
                )