<div class="page-footer" style="background-color: #00bfff;">
    <div class="text-center w-100">
        <span class="text-white" style="
            font-family: 'Poppins', sans-serif;
            font-weight: 15;
            color: white;"> 2024 Copyright TAM VMS </span>
    </div>
 </div>

