.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    text-align:center;
    width:100%;
}

select[readonly] option, select[readonly] optgroup {
    display: none;
}