@model TAM.VMS.Domain.DownloadVendorDatabase

<div id="RequestModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" style="padding-top:20%">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 280px; width: 100%;">
        <div class="modal-content" style="border-radius: 20px;">
            <div class="modal-body text-center">
                <b>Are you sure to request this item?</b>
            </div>
            <div class="modal-footer" style="display: flex; justify-content: space-between; width: 100%;">
                <button type="button" class="btn btn-primary green btn-sm" id="btnRequestPositive">Yes</button>
                <button type="button" class="btn btn-sm white btn-outline-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

