@section scripts {
    @await Html.PartialAsync("~/Areas/Core/Views/Permission/Script/_Permission.cshtml")
}

@section modals {
    @await Html.PartialAsync("~/Areas/Core/Views/Permission/Component/_PermissionForm.cshtml")
}

<div class="portlet light margin-bottom-0">
    <div class="row">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span>Permission</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <div id="customTab">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#Permission" data-toggle="tab" aria-expanded="false">Permission</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="tab-content">
        <div class="tab-pane active" id="Permission">
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12" id="PermissionContainerGrid">
                        @await Html.PartialAsync("~/Areas/Core/Views/Permission/Grid/_PermissionGrid.cshtml")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>