
@section scripts {
    @await Html.PartialAsync("~/Areas/VendorRegistration/Views/VendorRegistration/Script/_VendorRegistration.cshtml")
}

@section modals {
    @await Html.PartialAsync("~/Areas/VendorRegistration/Views/VendorRegistration/Component/_VendorRegistrationForm.cshtml")
}

<div class="container-fluid">
    <div class="div-title-menu">
        <div class="page-head">
            <div class="text-title-menu">
                Vendor Registration
            </div>
        </div>
    </div>

    <div class="row d-flex align-items-center">
        <div class="col-auto">
            <a href="/VendorRegistration/VendorRegistration/CreateVendor">
                <button class="custom-button me-3" style="margin-right: 10px;"> 
                    <i class="fa fa-plus"></i> Create Vendor 
                </button>
            </a>
        </div>
        <div class="col-auto">
            <button class="custom-button"> 
                <i class="fa fa-upload"></i> Upload Vendor 
            </button>
        </div>
    </div>

    <div class="row">
        <div style="margin-top: 40px;">
            <div class="div-title-submenu">
                <div class="page-head">
                    <div class="text-title-submenu">
                        Vendor Registration Grid
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@* <div class="info-icon">
        <i class="fas fa-info-circle" style="color: #03BFD7; cursor: pointer; font-size: 18px;"></i>
        <div class="tooltip">This is the name used for trading purposes.</div>
    </div> *@

